<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Chat</title>
    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body>
    <h1>Live Chat</h1>

    <input class="msgInput" type="text" placeholder="Write a message..." />
    <button onclick="sendMessage()">Send</button>
    <button onclick="sendNotification()">Send Notification</button>

    <ul id="messages"></ul>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/JS/chat.js"></script>
  </body>
</html>
